<html>

<head>
	<title>GoPro Web Interface</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<style>
		body {
			background-color: black;
			color: white;
		}

		#display_media {
			position: fixed;
			bottom: 0;
			left: 0;
			visibility: hidden;
		}

		.grid-container {
			display: grid;
			grid-template-columns: auto auto auto auto auto auto auto auto auto;
			background-color: black;
			padding: 30px;
			grid-gap: 7px;

		}

		.grid-item {
			background-color: black;
			border: 1px solid rgba(0, 0, 0, 0.8);
			text-align: center;
		}
	</style>
	<script>
		window.onload = function () {
			var slider = document.getElementsByClassName("rangeslider")[0];
			slider.oninput = function () {
				document.getElementById("mediadisplay").style.gridTemplateColumns = "auto ".repeat(this.value);
			}
			setInterval(function () {
				fetch("/ping")
					.then(function (response) {
						return response.text().then(function (text) {
							console.log(text)
							if (text == "ok") {
								document.getElementById("status").innerHTML = "Connected"
								document.getElementById("status").style.color = "#00FA00"
							} else {
								document.getElementById("status").innerHTML = "Not connected"
								document.getElementById("status").style.color = "#FF0000"
							}
						})
					}).catch(function (_) {
						document.getElementById("status").innerHTML = "Not connected"
						document.getElementById("status").style.color = "#FF0000"
					})
			}, 1000)
		}

		function download(folder, file) {
			fetch("/download?folder=" + folder + "&filename=" + file).then(function (response) {
				if (response.status == 200) {
					alert("Downloaded: " + folder + "/" + file)
				}
			})
		}

		function deletefromcam(folder, file) {
			fetch("/delete?folder=" + folder + "&filename=" + file).then(function (response) {
				if (response.status == 200) {
					location.reload()
				}
			})
		}

		function webcam(enable) {
			if (enable) {
				fetch("/webcam/start")
			} else {
				fetch("/webcam/stop")
			}
		}

	</script>

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<p class="navbar-text">GoPro Web Interface</p>
		<button type="button" class="btn btn-default navbar-btn" id="preview" onclick="webcam(true)">Start
			Preview</button>
		<button type="button" class="btn btn-default navbar-btn" id="preview_stop" onclick="webcam(false)">Stop
			Preview</button>
		<button type="button" class="btn btn-default navbar-btn" id="media">Media</button>
		<button type="button" class="btn btn-default navbar-btn" id="exit" onclick="fetch('/quit')">Exit</button>

		<b id=" camera_name">{{goproinfo}}</b>
		||
		<b id="status">Not connected</b>
		<input style="position: absolute; right: 0;width:20%" type="range" min="1" max="10" value="9"
			class="rangeslider">
	</nav>

	<button type="button" class="btn btn-primary">Shutter</button>
	<div id="mediadisplay" class="grid-container">
		{% for result in media %}
		<div class="grid-item">
			<img style="width: 100%; height: auto; border-radius: 10px;" cover
				src="http://{{ip_address}}/gp/gpMediaMetadata?p={{result[0]}}/{{result[1]}}" />
			<br>
			<b id="title">{{result[0]}}</b>
			<br>
			<b id="title">{{result[1]}}</b>
			<br><a style="color:white;" href="http://{{ip_address}}/videos/DCIM/{{result[0]}}/{{result[1]}}"><i
					class="material-icons md-dark">preview</i></a>
			<i style="cursor: pointer;" onclick="download('{{result[0]}}', '{{result[1]}}')"
				class="material-icons md-dark">cloud_download</i>
			<i style="cursor: pointer;" onclick="deletefromcam('{{result[0]}}', '{{result[1]}}')"
				class="material-icons md-dark">delete</i>
		</div>

		{% endfor %}
	</div>
</body>

</html>